
section{
    /* background: rgb(187 187 187 / 38%); */
    padding: 25px;
    border-radius: 5px;
    /* border: solid 2px #1E3C56; */
    
}
.navbar {
    background-color: #1E3C56;
    position: fixed;
    position: fixed;
    width: 100%;
    border-bottom: solid 2px #1e3c56;
    z-index: 20;
}

.navbar-brand, .nav-link {
    color: #FFFFFF !important;
}

.jumbotron {
    background-image: url("img/video.gif");
    text-shadow: 2px 2px 1px black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    color: #FFFFFF;
    border: 2px solid #1E3C56;
    font-weight: 500;
    margin-bottom: 0px !important;
}

.btn-primary {
    background-color: #1E3C56;
    border-color: #1E3C56;
}

.card {
    background: linear-gradient(90deg, #293246, #3b7294);
    color: white;
    margin-bottom: 15px;
}

.card-title {
    color: rgb(189, 225, 255);
    font-weight: 500;
}

footer {
    background-color: #1E3C56;
    color: #FFFFFF;
    margin: 0px;
    padding: 15px;
    text-align: center;
}
footer>p{
    margin: 0px;
}

.bg-light {
    background-color: #FFFFFF !important;
    color: #2B2B2B !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #2B2B2B !important;
}

.navbar-light .navbar-brand {
    color: #2B2B2B !important;
}

header {
    /* background-image: url("https://www.shutterstock.com/image-photo/blue-party-glowing-light-black-260nw-1916852150.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h1, h2, h3, h4, h5, h6, .navbar-brand, .nav-link {
    font-family: "Montserrat", serif !important;
}

.presentacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background: linear-gradient(180deg, #ffffff, #80c2eb);
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.scrolling-wrapper .col-12 {
    display: inline-block;
    float: none;
}

.scrolling-wrapper .card {
    cursor: grab;
}

.scrolling-wrapper .card:active {
    cursor: grabbing;
}

#acerca-de-contacto .col-12 {
    margin-bottom: 15px;
}


#marketing{
    background: linear-gradient(180deg, #80c2eb, #fff);
}

#carta{
    background: linear-gradient(180deg, #ffffff, #80c2eb);
    margin-bottom: 0px !important;
}

#acerca-de-contacto{
    background-color: rgb(37, 37, 37);
    color: white;
    margin-bottom: 0px !important;
    margin-TOP: 0px !important;
    border-bottom-right-radius: 0px ;
    border-bottom-left-radius: 0px ;
}

@media (min-width: 768px) {
    #acerca-de-contacto .col-12 {
        margin-bottom: 0;
    }
    body {
        background-image: url("img/wallpaper.jpg");
        background-attachment: fixed;
        background-position: center;
    }

    section{
        margin-top: 15px !important;
        border: solid 1px black;  
    }

    #acerca-de-contacto{
        margin-TOP: 50px !important;
    }

    #acercade{
        border: none;
    }
}